html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f1f1f1;
  width: auto;
}

.bodycontainer {
  padding: 1px 16px;
  margin-left: 20%;
  height: 100%;
  background-color: #f1f1f1;
}

/*Fancy Menu experiment*/
.sidemenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidemenu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.sidemenu li a.active {
  background-color: #4caf50;
  color: white;
}

.sidemenu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.hidden {
  display: none !important;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

fieldset,
iframe,
img {
  border: 0;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

audio,
canvas,
video,
progress {
  display: inline-block;
  vertical-align: baseline;
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

button:disabled {
  cursor: default;
}

@media print {
  body,
  #main,
  #content {
    color: #000;
  }
  a,
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
  #globalheader,
  #globalfooter,
  #directorynav,
  #tabs,
  .noprint,
  .hide {
    display: none;
  }
}

html {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 106.25%;
  quotes: "â€œ" "â€";
}

body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  /* background-color: #fff; */
  color: #333;
  font-style: normal;
}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  display: block;
  margin: 0;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0.8em;
}

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
  margin-top: 0.4em;
}

p + h1,
ul + h1,
ol + h1,
p + h2,
ul + h2,
ol + h2,
p + h3,
ul + h3,
ol + h3,
p + h4,
ul + h4,
ol + h4,
p + h5,
ul + h5,
ol + h5,
p + h6,
ul + h6,
ol + h6 {
  margin-top: 1.6em;
}

p + *,
ul + *,
ol + * {
  margin-top: 0.8em;
}

ul,
ol {
  margin-left: 1.17647em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

nav ul,
nav ol {
  margin: 0;
  list-style: none;
}

li li {
  font-size: 1em;
}

a {
  color: #0070c9;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

p + a {
  display: inline-block;
}

.footnote {
  vertical-align: inherit;
  color: inherit;
}

.footnote:hover {
  color: #0070c9;
  text-decoration: none;
}

b,
strong {
  font-weight: 600;
}

em,
i,
cite,
dfn {
  font-style: italic;
}

sup {
  font-size: 0.6em;
  vertical-align: top;
  position: relative;
  bottom: -0.2em;
}

h1 sup,
h2 sup,
h3 sup {
  font-size: 0.4em;
}

sup a {
  vertical-align: inherit;
  color: inherit;
}

sup a:hover {
  color: #0070c9;
  text-decoration: none;
}

sub {
  line-height: 1;
}

abbr {
  border: 0;
}
